body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.gridContainer {
    display: flex;
    flex-flow: column wrap;
    height: 640px;
    width: 640px;   
}

.gridDiv {
    height: 40px;
    width: 40px;
    border: 1px solid gray;
}

.gridDiv:hover {
    background-color: black;
}